/*
Using SMACSS Architecture & BEM
*/

// Imports
@use 'mixins';


// BASE_SMACSS

body {
    background: #dbdbdb;
    background: oklch(89.13% 0 0);
    // Flexbox
    @include mixins.flex(center, initial, column);
}


// LAYOUT_SMACSS
.header {
    min-height: 50px;
}

.main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr); // TEST --> PROBANDO DINAMICAMENTE A CAMBIAR TAMAÑO ELEMENTOS
    gap: 20px;
}

// MODULES_SMACSS
.main__module {
    background-color: rgb(216, 52, 52);
    border-radius: 20px;
    min-width: 275px;
    min-height: 275px;
    max-width: 570px;
    max-height: 570px;

    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/*
Modificaciones de los módulos.

Una columna es un módulo de 2 filas y una columna; una fila (row) ocupa 2 columnas y 1 fila;
un cuadrado ocupa 2 filas y 2 columnas. Un módulo puede ser simple, columna, fila y cuadrado, según
se escoja. Por defecto se establece lo que se indica aquí.
*/
.main__module--column {
    @include mixins.span-grid(1);
}

.main__module--row {
    @include mixins.span-grid(0, 1);
}

.main__module--square {
    @include mixins.span-grid(1, 1);
}

.module__conf {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    // Borrar propiedad:
    background-color: blueviolet;
}

.conf__move {
    width: 75px;
    border-radius: 10px;
    background-color: white;

}

.conf__change {
    width: 40px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 10"><circle cx="10" cy="5" r="3" fill="black"/><circle cx="20" cy="5" r="3" fill="black"/><circle cx="30" cy="5" r="3" fill="black"/></svg>');
    background-repeat: no-repeat;

    position: absolute;
    top: 12px;
    right: 10px;
}

.conf__move, .conf__change {
    height: 10px;
}

.main__module > article {
    margin: 5px;
    border-radius: 20px;
    box-sizing: border-box;
    flex-grow: 1; // Crece el espacio disponible
    overflow: hidden;

    background-color: cadetblue;
}

iframe {
    width: 100%; /* Ocupar el 100% del contenedor */
    height: 100%; /* Ocupar el 100% del contenedor */
    object-fit: cover; /* Asegura que el contenido se ajuste sin desbordarse */
}




// STATES_SMACSS


// THEMES_SMACSS

