/*
Using SMACSS Architecture & BEM
*/

// Imports
@use 'mixins';

// Variables
$altHead: 65px;


// BASE_SMACSS

body {
    background: #dbdbdb;
    background: oklch(89.13% 0 0);
    // Flexbox
    @include mixins.flex(center, initial, column);
}


// LAYOUT_SMACSS
.header {
    width: 100%;
    min-height: $altHead;

    position: fixed;
    z-index: 1000;

    @include mixins.flex(center, space-around);

    animation: header-fixed linear both;
    animation-timeline: scroll(root);
    animation-range: 0 150px;
}

.main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr); // TEST --> PROBANDO DINAMICAMENTE A CAMBIAR TAMAÑO ELEMENTOS
    gap: 20px;

    margin-top: $altHead;
    max-width: 1750px;
}

// MODULES_SMACSS

.add__icon, .header__title, .header__profile {
    user-select: none;
}

.add__icon {
    cursor: pointer;
    
    &:hover {
        filter: invert(1);
        scale: .95;
    }
}

.header__title {
    transition: text-shadow .25s linear;

    &:hover {
        transition: text-shadow .5s linear;
        text-shadow: 0 0 7px #000000;
    }
}

.main__module {
    background-color: rgb(216, 52, 52);
    border-radius: 20px;

    overflow: hidden;
    display: flex;
    flex-direction: column;

    animation: appear-module linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;

    background: #e0e0e0;
    box-shadow:  6px 6px 12px #949494,
    -6px -6px 12px #ffffff;
}

/*
Modificaciones de los módulos.

Una columna es un módulo de 2 filas y una columna; una fila (row) ocupa 2 columnas y 1 fila;
un cuadrado ocupa 2 filas y 2 columnas. Un módulo puede ser simple, columna, fila y cuadrado, según
se escoja. Por defecto se establece lo que se indica aquí.
*/

.main__module--column {
    @include mixins.span-grid(1);
}

.main__module--row {
    @include mixins.span-grid(0, 1);
}

.main__module--square {
    @include mixins.span-grid(1, 1);
}

.main__module--simple, .main__module--column {
    width: 275px;
}

.main__module--simple, .main__module--row {
    height: 275px;
}

.main__module--column, .main__module--square {
    height: 570px;
}

.main__module--row, .main__module--square {
    width: 570px;;
}

.module__conf {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    // Borrar propiedad:
    background-color: #e0e0e0;
}

.conf__move {
    width: 75px;
    border-radius: 10px;
    background-color: black;

}

.conf__change {
    width: 40px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 10"><circle cx="10" cy="5" r="3" fill="black"/><circle cx="20" cy="5" r="3" fill="black"/><circle cx="30" cy="5" r="3" fill="black"/></svg>');
    background-repeat: no-repeat;

    position: absolute;
    top: 12px;
    right: 10px;

}

.conf__move, .conf__change {
    height: 10px;

    transition: scale .2s linear;
    &:hover {
        transition: scale .35s ease-out;
        scale: 1.2;
    }
}

.main__module > article {
    margin: 5px;
    border-radius: 20px;
    box-sizing: border-box;
    flex-grow: 1; // Crece el espacio disponible
    overflow: hidden;

    background-color: cadetblue;
}

iframe {
    user-select: none;
    width: 100%;
    height: 100%;
}



// STATES_SMACSS


// THEMES_SMACSS

/* Animations */
@keyframes header-fixed {
    to {
        background-color: rgba(249, 239, 255, 0.658);
        backdrop-filter: blur(12px);
    }
}

@keyframes appear-module {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media querys*/

@media (max-width: 1760px){
    .main {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1180px){
    .main {
        grid-template-columns: repeat(2, 1fr);
    }
}