
/*
Using SMACSS Architecture & BEM
*/

// Imports
@use 'mixins';

// BASE_SMACSS
body {
    @include mixins.flex(initial, initial, column);
}

// LAYOUT_SMACSS
.nav {
    min-height: 200px;
    background-color: blueviolet;
    position: relative;
}

// Main
.main {
    min-height: 650px;
    @include mixins.flex(center, center, column);
}

.footer {
    height: 100%;
    background-color: crimson;
}


// MODULES_SMACSS
.nav__link {
    color: black;
    text-decoration: none;

    position: absolute;
    top: 20px;
    right: 20px;
}

.main__login {
    font-size: 1.3em;

    padding: 80px 30px;
    margin-top: 20px;
    @include mixins.flex(center, center, column);
    gap: 10px;
}

.login__info {
    @include mixins.flex(initial, center, column);
}

.info__input { // Input
    width: 400px;
    margin-bottom: 12px;
}

.login__button { // Button
    // box-sizing --> border-box
    width: 175px;
}

.login__button, .info__input { // Input + button
    height: 55px;
    padding: 10px;
}


// STATES_SMACSS

// THEMES_SMACSS
