
// Mixins y variables

$colors: (
    "wh": oklch(90.02% 0.0092 248),
    "whx0": #d9dfe4,
    "bl": oklch(13.17% 0.0092 248),
    "blx0": #05080b,
    "pr": oklch(43.14% 0.1805 322.81),
    "prx0": #7b1a88,
    "prsf": oklch(54.41% 0.2757 303.88 / 20%),
    "prsfx0": #9514ed33
);


/*
*****************************************
                Mixins
*****************************************
*/
@mixin flex ($alItem: initial, $jusCon: initial, $direction: initial){
    display: flex;
    align-items: $alItem;
    justify-content: $jusCon;
    flex-direction: $direction;
}

// Mixin para responsive design
@mixin mq-width($medida: 480px){
    @media screen and (max-width: $medida){
        @content;
    }
}

// Filas o columnas que ocupará un elemento en Gridbox
@mixin span-grid ($columns2: 0, $rows2: 0) { // Si param = 1 --> 2 columnas/filas
    @if $columns2 == 1 {
        grid-row: span 2;
    }
    
    @if $rows2 == 1 {
        grid-column: span 2;
    }
}