
/*
Using SMACSS Architecture & BEM
*/

// Imports
@use 'mixins';

// BASE_SMACSS
html, body {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: "TlW-SB", Arial, Courier, monospace;
}

h1 {
    font-size: 3em;
    font-family: "TlW-bold";
}

h2 {
    font-size: 2em;
    font-family: "TlW-bold";

    margin: 0;
}


// LAYOUT_SMACSS
.nav {
    width: 100%;

    @include mixins.flex(center, center);
}

// MODULES_SMACSS

// STATES_SMACSS

// THEMES_SMACSS

// Fuentes
@font-face {
    font-family: "TlW-SB";
    src: url('../../assets/fonts/TitilliumWeb-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TlW-SBIt";
    src: url('../../assets/fonts/TitilliumWeb-SemiBoldItalic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "TlW-bold";
    src: url('../../assets/fonts/TitilliumWeb-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "TlW-boldIt";
    src: url('../../assets/fonts/TitilliumWeb-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

// Scrollbar

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 20px;
    border: 1px solid azure;
}

::-webkit-scrollbar-track {
    background: azure;
}
