/*
Using SMACSS Architecture & BEM
*/
/*
*****************************************
                Mixins
*****************************************
*/
body {
  background-image: url("../../assets/img/bg-janek-lachmann.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: initial;
  justify-content: initial;
  flex-direction: column;
}

.nav {
  color: #d9dfe4;
  color: oklch(90.02% 0.0092 248deg);
  background-image: url("../../assets/img/bg-jigar-panchal.jpg");
  min-height: 200px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .nav {
    min-height: 170px;
  }
}

.main {
  min-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .main {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 660px) {
  .main {
    min-height: 550px;
  }
}
@media screen and (max-width: 480px) {
  .main {
    min-height: 450px;
  }
}

.footer {
  color: #05080b;
  color: oklch(13.17% 0.0092 248deg);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav__link {
  color: oklch(90.02% 0.0092 248deg);
  padding: 10px;
  font-size: 1.3em;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  position: absolute;
  top: 30px;
  right: 30px;
  transition: box-shadow 0.3s ease, color 0.3s ease, scale 0.2s ease;
}
.nav__link:hover {
  color: #05080b;
  color: oklch(13.17% 0.0092 248deg);
  background-color: #d9dfe4;
  background-color: oklch(90.02% 0.0092 248deg);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.5333333333);
  scale: 1.1;
  transition: scale 0.4s ease;
}
.nav__link:active {
  background-color: #7b1a88;
  background-color: oklch(43.14% 0.1805 322.81deg);
  scale: 0.95;
  transition: scale 0.4s ease;
}
@media screen and (max-width: 768px) {
  .nav__link {
    font-size: 1em;
    border-radius: 17px;
  }
}
@media screen and (max-width: 768px) {
  .nav__link {
    top: 20px;
    right: 20px;
  }
}

.nav__title {
  animation: appear 1s 0.1s both;
  transition: text-shadow 0.25s;
}
.nav__title:hover {
  transition: text-shadow 0.4s;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.6666666667);
}

.main__login {
  font-size: 1.3em;
  padding: 80px 30px;
  margin-top: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  transition: box-shadow 0.25s, scale 0.25s;
}
.main__login:hover {
  scale: 1.009;
  box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.5s, scale 0.5s;
}

.login__info {
  display: flex;
  align-items: initial;
  justify-content: center;
  flex-direction: column;
}

.info__input {
  width: 400px;
  margin: 8px 0 12px 0;
  cursor: pointer;
}

.login__button {
  color: #d9dfe4;
  color: oklch(90.02% 0.0092 248deg);
  background-color: #05080b;
  background-color: oklch(13.17% 0.0092 248deg);
  width: 175px;
  cursor: pointer;
  transition: color 0.25s, background-color 0.25s, scale 0.25s;
}
.login__button:hover {
  color: #05080b;
  color: oklch(13.17% 0.0092 248deg);
  background-color: #d9dfe4;
  background-color: oklch(90.02% 0.0092 248deg);
  scale: 1.05;
  transition: color 0.5s, background-color 0.5s, scale 0.5s;
}
.login__button:active {
  scale: 0.95;
}

.login__button, .info__input {
  height: 55px;
  padding: 10px;
}

.main__login, .info__input, .login__button {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}

.footer__title {
  transition: transform 0.15s ease;
}
.footer__title:hover {
  transition: transform 0.3s ease;
  transform: rotate(10deg);
}

@keyframes appear {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(0px);
  }
}
@media screen and (max-width: 660px) {
  h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 660px) {
  h2 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 520px) {
  h1 {
    font-size: 2em;
  }
  main {
    justify-content: center;
  }
  .main__login {
    font-size: 1.1em;
    padding: 60px 30px;
  }
  .info__input {
    width: 300px;
  }
  .login__button {
    width: 131px;
  }
  .info__input, .login__button {
    height: 41px;
  }
}
@media screen and (max-width: 414px) {
  h1 {
    font-size: 1.7em;
  }
  .nav {
    min-height: 150px;
  }
  .main__login {
    padding: 60px 20px;
  }
  .info__input {
    width: 255px;
  }
  .login__button {
    width: 111px;
  }
  .info__input, .login__button {
    height: 38px;
  }
}
