@charset "UTF-8";
/*
Using SMACSS Architecture & BEM
*/
/*
*****************************************
                Mixins
*****************************************
*/
.main {
  padding: 20px 0;
  /* media querys => ajustes generales que modifican estilos heredados
  del diseño de login para una correcta responsividad */
}
@media screen and (max-width: 768px) {
  .main {
    justify-content: center;
  }
}
@media screen and (max-width: 660px) {
  .main {
    min-height: unset;
  }
}

.main__field {
  padding: 50px 30px;
}

.field__info--passwd {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-60px);
}

.field__info--passwd.field__info--pshow {
  position: static;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: opacity 1s ease, transform 1s ease;
}

.footer {
  min-height: 80px;
}

@media screen and (max-width: 520px) {
  .field__button {
    font-size: 0.8em;
  }
}
